.title__map {
  width: 98%;
  margin: 25px auto 0px auto;
  margin-top: 25px;
  display: flex;
  align-self: center;
  gap: 4px;
  .title__map-text {
    font-weight: 500;
    line-height: 20px;
    font-size: 13px;
    color: #858997;
    font-weight: 500;
    text-transform: capitalize;
    &:hover {
      cursor: pointer;
      color: #212529;
    }
  }
  .title__map-text_black {
    font-weight: 500;
    line-height: 22px;
    font-size: 13px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
  }
  .title__map-icon {
    align-self: center;
    color: #212529;
    font-size: 13px;
    display: inline-block;
  }
}
